# 環境変数の設定

# このプロジェクトでは、以下の環境変数を使用します。
# - NEXT_PUBLIC_API_MOCKING: モック環境の有効化設定 (enabled または disabled)
# - NEXT_PUBLIC_USE_API_ROUTE: API環境の有効化設定 (enabled または disabled)

# .env(.local) ファイルに以下を設定する。
NEXT_PUBLIC_API_MOCKING=enabled
NEXT_PUBLIC_USE_API_ROUTE=disabled
SAMPLE=false

# - NEXT_PUBLIC_API_PRODUCTION: 本番APIのURL (想定)
NEXT_PUBLIC_API_PRODUCTION=https://prod-www.storybook-app-api.net
