# [環境変数の設定]: `NEXT_PUBLIC_`をつけるとブラウザに公開される

# MOCK API の有効設定 [enabled: 有効, disabled: 無効]
NEXT_PUBLIC_MOCK_API=enabled

# API Route の有効設定 [enabled: 有効, disabled: 無効]
# NEXT_PUBLIC_API_ROUTE=disabled

# STORYBOOK_PORTのポート
NEXT_PUBLIC_STORYBOOK_PORT=6006

# ローカルの参照先API
LOCAL_API_URL=http://localhost:3000/api

# 本番用の参照先API（仮のURL）
PROD_API_URL=https://prod-www.storybook-app.net

# 外部API（実際のデータソース、サーバーサイドでのみ使用）
EXTERNAL_API_URL=https://jsonplaceholder.typicode.com #prodの場合は「https://prod-www.storybook-app.net」を参照するように仕向ける
