# 環境変数の設定

# このプロジェクトでは、以下の環境変数を使用します。
# - `NEXT_PUBLIC_API_PRODUCTION`: 本番APIのURL (必須)
# - `NEXT_PUBLIC_API_MOCKING`: モック環境の有効化 (`enabled` または `disabled`) (任意)

# .env(.local) ファイルに以下を設定する。
NEXT_PUBLIC_API_PRODUCTION=https://your-api-endpoint.com
NEXT_PUBLIC_API_MOCKING=enabled
